.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 5rem;
}

.color-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-cell span {
  font-size: 1.255rem;
  font-family: monospace;
  font-weight: bold;
}